html {
    font-size: 1.2rem;
}

body {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: black;
    color: white;
}
body, button, input, select, textarea {
    font-family: Monospace;
    background-color: black;
    color: white;
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}
.container.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
}
@media screen and (min-width:1472px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}

.navbar-brand {
    display: flex;
}
.navbar-item {
    align-items: center;
    color: firebrick;
    display: flex;
}

table {
    table-layout: fixed;
}

td {
    border-bottom: 1px dotted black; 
    padding: 5px;
}

.title {
    color: firebrick;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    word-break: break-word;
}

.author {
    color: firebrick;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    margin-color: black;
    margin-top: -0.25rem;
    word-break: break-word;
}

.taglist  {
    margin-bottom: 1em;
}
.taglist a {
    color: gray;
}

.prev-in-section {
    float: right; 
    text-align: 
    right; width: 50%;
}
.next-in-section {
    float: left; 
    text-align: 
    left; width: 50%;
}

.content h1 { font-size: 1.5em; }
.content h2 { font-size: 1.0em; }
.content h3 { font-size: 1em; }
.content h4 { font-size: 1em; }
.content h5 { font-size: 1em; }
.content h6 { font-size: 1em; }

a {
    color: firebrick;
    text-decoration: none;
}
a:hover {
    color: white;
}

.external {
    background-image: url(/img/external-link-ltr-icon-red.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.externalgray {
    background-image: url(/img/external-link-ltr-icon-gray.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

pre, blockquote, code {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    overflow: auto;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

