html {
}

body {
  font-size: 1.5rem;
}
body, button, input, select, textarea {
  font-family: Verdana;
}

.container {
    position: relative;
    max-width: 100%;
}
.container.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
}
@media screen and (min-width:1472px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}

.navbar-brand {
    display: flex;
}
.navbar-item {
    align-items: center;
    display: flex;
}

table {
    table-layout: fixed;
}

td {
    border-bottom: 1px dotted black; 
    padding: 5px;
}

.title {
    margin-bottom: 0;
    word-break: break-word;
}

.title-heading {
    font-size: 1rem;
    font-style: italic;
}

.author {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    margin-top: -0.25rem;
    word-break: break-word;
}

.taglist  {
    margin-bottom: 1em;
}
.taglist a {
}

.prev-in-section {
    float: right; 
    text-align: 
    right; width: 50%;
}
.next-in-section {
    float: left; 
    text-align: 
    left; width: 50%;
}

.content h1 {}
.content h2 {}
.content h3 {}
.content h4 {}
.content h5 {}
.content h6 {}

a {
  color: firebrick;
  text-decoration: none;
}
a:hover {
}

.external {
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.externalgray {
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

pre, blockquote, code {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    overflow: auto;
}

img {
    max-width: 100%;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

tr img {
    float: left;
    max-width: 180px;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: 12px;
}

.intentionally-blank {
    height: 80vh;
}

.tiny {
    font-size: 0.5em;  /* makes small even smaller */
}
